@import "~bootstrap/scss/functions";
@import "./helpers/variables";
@import "~bootstrap/scss/mixins";

@import "~bootstrap";
@import "sb-admin-2";

*, :after, :before {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    background: #f2f2f2;
}

img {
    object-fit: cover;
}


main {
    padding-top: 56px;
    min-height: calc(100vh - 484px);
}

header nav .nav-link {
    border-bottom: solid $primary 3px;
}

header nav .nav-link.router-link-exact-active {
    border-bottom: solid white 3px;
}

@media (min-width: 768px) {
    header nav {
        border-top: 8px solid $primary;
        border-bottom: 1px solid $primary;
        background: #FFF url('~@/assets/img/bg_header.jpg') bottom repeat-x;
    }

    main {
        padding-top: 176px;
        min-height: calc(100vh - 318px);
    }

    header nav .nav-link {
        border-bottom: solid white 3px;
    }
    
    header nav .nav-link.router-link-exact-active {
        border-bottom: solid $primary 3px;
    }
}

nav.navbar .container {
    display: block;
}

.btn-add-to-cart {
    display: block;
    width: 100%;
}

.navbar-brand {
    font-family: 'Great Vibes', cursive;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    .navbar-brand {
        font-size: 3rem;
        margin-right: 0;
        padding: 0;
        font-weight: bold;
    }
}

.search_area {
    display: flex;
    align-items: center;
    justify-content: space-around;
    input {
        box-shadow: none;
        padding: 10px;
        width: 80%;
        height: auto;
        font-size: 1.15em;
        color: #333;
        background: #fff;
        border: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        border-bottom: 1px $primary solid;
    }

    input:focus {
        box-shadow: none;
        border-bottom: 1px solid #000;
    }

    button {
        width: 35px;
        height: 35px;
        line-height: 12px;
        border: 0;
        font-size: 1.1em;
        color: #fff;
        background: $primary;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }
}

.tool_area {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    a {
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        font-size: 1.2em;
        margin-right: 10px;
        background: $primary;
        color: white;
        border-radius: 50%;
    }
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    li {
        font-size: 1.2rem;
        font-weight: bold;
    }
}

.wrap footer {
    background: $primary;
    color: white;
    padding: 2rem 0;
    .container {
        display: flex;
        justify-content: center;
        .row {
            width: 100%;
        }
        h2 {
            font-size: 1.6rem;
        }
        ul {
            text-align: left;
            padding-bottom: 1rem;
            li {
                list-style: none;
                margin-bottom: 0.5rem;
                a {
                    color:white;
                    text-decoration: none;
                    padding: 0;
                }
                a:hover, a:focus {
                    color:white;
                }
            }
        }
        p {
            margin-bottom: 0;
        }
    }
}

.page-banner {
    color: white;
    padding: 1.5rem 0;
    h2 {
        font-size: 1.7rem;
        text-shadow: 0 0 5px #000;
    }
}

.path {
    background: #f5f5f5;
    font-size: 1em;
    border-top: 1px #FFF solid;
    border-bottom: 1px #DDD solid;
}

.pathway {
    line-height: 50px;
    text-align: center;
    span {
        color: #666;
        font-weight: 400;
        a {
            color: #BBB;
            text-decoration: none;
        }
    }
    i {
        color: $teal;
        padding: 0 15px 0 18px;
    }
}

.list-group {
    position: sticky;
    top: 200px;
}

.product-grid {
    box-shadow: 2px 2px 5px rgba(100, 100, 100, 0.16);

    .name {
        font-weight: 500;
    }

    .price {
        font-weight: bold;
        color: red;
    }

    img:hover {
        left: -50px;
        transform: scale(1.2);
        -ms-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -webkit-transition: all 0.5s ease 0s;
        -moz-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        -ms-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
    } 

    img {
        height: 400px;
    }
    
    
    @media (min-width: 576px) {
        img {
            height: 300px;
        }
    }

    @media (min-width: 992px) {
        img {
            height: 400px;
        }
    }
}

   
.line_button {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin: 0 auto 30px;
}

.product-grid:hover .product-link {
	overflow: hidden;
}

.filter {
    li {
        &:hover:not(.active) {
            background: $secondary;
        }
    }
}

.product-info {
    .image {
        height: 500px;
        background-size: cover;
        background-position: center center;
    }
    .name {
        font-weight: bold;
        color: $primary;
        display: block;
        .category {
            float: right;
            text-decoration: none;
            font-size: 0.55em;
        }
    }
    .price {
        text-align: right;
        border-bottom: 1px solid $primary;
        span {
            font-weight: bold;
            color: #ED6953;
            font-size: 1.5em;
        }
    }
}

.faq {
    .card-header {
        color: white;
        font-size: 20px;
        line-height: 1.5;
    }
}

.contact {
    form {
        border-top: 3px solid $primary;
        box-shadow: 2px 2px 5px rgba(100, 100, 100, 0.16);
    }
}

.pointer {
    cursor: pointer;
}

.text-red {
    color: red;
}

.ck-editor__editable_inline {
    min-height: 200px !important;
}

